
/* Main Page Formatting */
    .header {
        color: white;
        background-color:lightskyblue;
        border-color: lightskyblue;
        border-style: solid;
        border-bottom-width: 8px;
    }
    .footer{
      cursor: wait;

    }
    /* Header Sub Formatting */
                h4.HeaderFormatMain{
                    color:aliceblue;
                    font-weight: bold; 
                }
                h4.AccountLogoText{
                    color:aliceblue;
                    font-weight: bold; 
                    text-align: right;
                }
    .sidenav{
        background-color: rgba(135, 206, 250, 0.363);
        min-height: 100%;
        padding-top: 5px;   
        padding-left: 0;
        color: lightskyblue;
        margin-left: 0;
        cursor: ;
    }
    /* Side Nav Sub Formatting*/
    
        .roundBorder {
            text-align: left;
            border-width: 2px;
            border-color: white;
            border-style: solid;
            padding: 5px;
            border-top-right-radius: 20px ;
            border-bottom-right-radius: 20px ;
            border-left-width: 8px;
            border-left-color: lightskyblue;
            background-color: white;
            width: 100%;
            margin-bottom: 5px;
            color: #247BA0;
        }
        .roundBorder:hover {
            background-color: rgba(163, 213, 245, 0.507);
            color: white;
        }
        .roundBorder.active {
            background-color: rgba(135, 206, 250, 0.486);
            color: white;
        }

        .tabContents {
            display: none;
            padding: 1px ;
            border-top: none;
        }

    .row.content {
        height: 880px;}

    footer{
        background-color: rgb(135, 206, 250);
    }

/* Calendar formatting */
    
    ul {
        list-style-type: none;
    }

    .month {
        padding: 10px;
        width: 100%;
        text-align: center;
        background-color: rgb(135, 206, 250);
    }
    
    .month ul {
        margin: 0;
        padding: 0;
      }
      
    .month ul li {
    font-size: 20px;
    font-weight: 600;
    color:white;
    text-transform: uppercase;
    letter-spacing: 3px;
    } 
    button {
    width: 75px;
    cursor: pointer;
    box-shadow: 0px 0px 2px gray;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    background-color: #58bae4;
    color: #ffffff;
    }

    #weekdays {
        width: 100%;
        display: flex;
        color: #247BA0;
        margin: 0;
        background-color: rgba(135, 206, 250, 0.363);
      }
      #weekdays div {
        width: 100%;
        padding: 10px;
        text-align:center;
        border: 2px solid;
        border-color: rgba(135, 206, 250, 0.048);
        border-bottom: 2px solid;
        border-bottom-color: rgb(135, 206, 250)
      }
      #calendar {
        width: 100%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
      }
      .day {
        width: 14.28%;        
        padding: 10px;
        height: 100px;
        cursor: pointer;
        box-sizing: border-box;
        background-color: rgba(135, 206, 250, 0.199);
        word-spacing: 1px;
        letter-spacing: 1px;
        box-shadow: 0px 0px 3px #CBD4C2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 2px solid;
        border-color: rgb(135, 206, 250);
        text-align: left;

      }
      .day:hover {
        background-color: #e8faed;
      }
      
      .day + #currentDay {
        background-color:#e8f4fa;
      }
      .event {
        font-size: 10px;
        padding: 3px;
        background-color: #58bae4;
        color: white;
        border-radius: 5px;
        max-height: 55px;
        overflow: hidden;
      }
      .padding {
        cursor: default !important;
        background-color: #FFFCFF !important;
        box-shadow: none !important;
        border: 2px solid;
        border-color: #FFFCFF;
      }

       .taskformat {
        display: inline-block;
        
        font-size: 10px;
        padding-bottom: 50px;
        margin-bottom: 5px;
    }
    #newEventModal, #deleteEventModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}
#saveButton, #closeButton {
    background-color: #1c809e;  
    color: white;  
}
#cancelButton, #deleteButton {
    background-color: #d36c6c;
  }
  #eventTitleInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
  }
  #eventTitleInput.error {
    border: 2px solid red;
  }
  #eventText {
    font-size: 14px;
  }
  
    /*Aims formatting*/
    .AimsHead{
      background-color: rgb(135, 206, 250);
      color: #fff;
      height: 70px;
   
    }
    .AimsHead h1{
      padding: 1px;
    }
    .AimsHead h3{
      padding: 6px;
    }
    .AimsSubHead{
      background-color: rgba(135, 206, 250, 0.614);
      color: #555;
      padding: 10px;
      float: left;
      text-align: center;
      cursor: pointer;
      transition: 0.3s;
      border-radius: 0;
      border-bottom: rgba(135, 206, 250, 0.614);
      border-bottom-width: 1px;
      border-bottom-style: solid;
    }

  #WriteAims{
    background-color: rgba(135, 206, 250, 0.363);
    font-size: large; 
    margin-top: -5px;
    padding: 5px;
    padding-left: 10px;
    border-bottom: rgba(135, 206, 250, 0.614);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    height: var(aimheight);
  }
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    padding: 10px;
    float: left;
    font-size: 16px;
    border-bottom: rgba(135, 206, 250, 0.614);
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  .aimsAddBTN {
    padding: 10px;
    background: rgba(135, 206, 250, 0.614);
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: none;
    border-radius: 0;
    border-bottom: rgba(135, 206, 250, 0.614);
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }