.header {
    color: white;
    background-color:lightskyblue;
    border-color: lightskyblue;
    border-style: solid;
    border-bottom-width: 8px;
}

.sidenav{
    padding-top: 20px;
    background-color: rgba(135, 206, 250, 0.363);
    height: 100%;    
}

.row.content {
    height: 880px;}

footer{
    background-color: rgb(135, 206, 250);
}
