/* Main Page Formatting */
    .header {
        color: white;
        background-color:lightskyblue;
        border-color: lightskyblue;
        border-style: solid;
        border-bottom-width: 8px;
    }
    /* Header Sub Formatting */
                h4.HeaderFormatMain{
                    color:aliceblue;
                    font-weight: bold; 
                }
                h4.AccountLogoText{
                    color:aliceblue;
                    font-weight: bold; 
                    text-align: right;
                }
    .sidenav{
        background-color: rgba(135, 206, 250, 0.363);
        height: 100%; 
        padding-top: 5px;   
        padding-left: 0;
        color: lightskyblue;
        margin-left: 0;
    }
    /* Side Nav Sub Formatting*/
    
        .roundBorder {
            text-align: left;
            border-width: 2px;
            border-color: white;
            border-style: solid;
            padding: 5px;
            border-top-right-radius: 20px ;
            border-bottom-right-radius: 20px ;
            border-left-width: 8px;
            border-left-color: lightskyblue;
            background-color: white;
            width: 100%;
            margin-bottom: 5px;
        }
        .roundBorder:hover {
            background-color: rgba(163, 213, 245, 0.507);
            color: white;
        }
        .roundBorder.active {
            background-color: rgba(135, 206, 250, 0.486);
            color: white;
        }

        .tabContents {
            display: none;
            padding: 1px ;
            border-top: none;
        }

    .row.content {
        height: 880px;}

    footer{
        background-color: rgb(135, 206, 250);
    }

/* Calendar formatting */
    * {
        box-sizing: border-box;
    }

    ul {
        list-style-type: none;
    }

    .month {
        padding: 10px;
        width: 100%;
        text-align: center;
        background-color: rgb(135, 206, 250);
    }
    
    .month ul {
        margin: 0;
        padding: 0;
      }
      
    .month ul li {
    font-size: 20px;
    font-weight: 600;
    color:white;
    text-transform: uppercase;
    letter-spacing: 3px;
    }

    #weekdays {
        width: 100%;
        display: flex;
        color: #247BA0;
        margin: 0;
        background-color: rgba(135, 206, 250, 0.363);
      }
      #weekdays div {
        width: 100%;
        padding: 10px;
        text-align:center;
        border: 2px solid;
        border-color: rgba(135, 206, 250, 0.048);
        border-bottom: 2px solid;
        border-bottom-color: rgb(135, 206, 250)
      }

    .days{
        padding: 0;
        background-color: rgba(135, 206, 250, 0.199);
        word-spacing: -3px;
        letter-spacing: -3px;
    }

    .days li {
        display: inline-block;
        width: 14.28%;
        text-align: left;
        padding: 5px;
        margin-bottom: 0px;
        border: 2px solid;
        border-color: rgb(135, 206, 250);
        word-spacing: normal;
        letter-spacing: normal;
        display: inline-block;
      }
    .taskformat {
        display: inline-block;
        
        font-size: 10px;
        padding-bottom: 50px;
        margin-bottom: 5px;
    }
    /* calendar js formatting*/
   
